<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>My Spring Boot Page</title>
        <style>
            body {
                background-color: rgb(208, 209, 212);
            }
        </style>
</head>
<body>
    <div>
        <form action="#" th:action="@{'/api/customers?search=' + ${search}}" method="get">
            <input id=search type="text" th:name="search"/>
            <input id=submitbutton type="submit" value="SEARCH" />
            <input type="button" value="CLEAR" onclick="clearOut()" />
            <script>
                function clearOut() {
                    search.value = "";
                    submitbutton.click();
                }
            </script>
        </form>
         <form action="#" th:action="@{'/api/logoff'}" method="get">
            <input type="submit" value="LOGOFF" />
        </form>

        
        <h1 th:text="${temporarypasswordmessage}"></h1>
        <h1 th:text="${temporarypassword}" th:id="temporarypasswordemail"></h1>
        <h1>Sent to:</h1>
        <h1 th:text="${email}" th:id="email"></h1>

        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
        </script>
        <script type="text/javascript">
            const vtemporarypassword = document.getElementById("temporarypasswordemail")
            const vemail = document.getElementById("email");
            (function() {
                emailjs.init("t3XkHWKbXOsRdteuD");
            })();
        
            var templateParams = {
                link: window.location.href,
                email: vemail.innerHTML,
                temporarypassword: vtemporarypassword.innerHTML,
                subject: 'Reset your password',
                header1: 'You have requested a password change.',
                header2: 'We received a request to reset the password for your account.&nbsp;',
                message: 'If you did not request this password reset, please ignore this email or let us know immediately. Your account remains secure.'
            };

            const temppass = document.getElementById("temporarypasswordemail");
            //alert("Temporary Password:"+temppass.innerHTML);
            if (temppass.innerHTML != "") {
                emailjs.send('service_e21bowz', 'template_bf3ewtk', templateParams)
                    .then(function(response) {
                    console.log('SUCCESS!', response.status, response.text);
                    }, function(error) {
                    console.log('FAILED...', error);
                    });
            }
        </script>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Image</th>
                    <th>Role</th>
                </tr>

            </thead>
            <tbody>
                <tr th:each="currentcustomer: ${customers}">
                    <form action="#" th:action="@{'/api/customers/' + ${currentcustomer.id}}" method="post">
                        <td th:text="${currentcustomer.cedula}"></td>
                        <td>
                            <input th:name="nombre" th:value="${currentcustomer.nombre}"/>
                        </td>
                        <td>
                            <a th:href="@{'/api/customers/' + ${currentcustomer.id}}">
                                <img th:src="${currentcustomer.imageUrl}" width="150" height="150" />
                            </a>
                        </td>
                        <td>
                            <input th:name="imageUrl" th:value="${currentcustomer.imageUrl}"/>
                        </td>
                        <td>
                            <input type="checkbox" th:name="admin" th:checked="${currentcustomer.admin}"/>
                             <label>Administrator</label>
                        </td>
                        <td>
                            <input type="submit" value="UPDATE" />
                        <td>
                    </form>
                    <td>
                        <form action="#" th:action="@{'/api/customers/' + ${currentcustomer.id}}" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <input type="submit" value="DELETE" />
                        </form>
                    </td>
                    <td>
                        <form action="#" th:action="@{'/api/customers/resetpassword/' + ${currentcustomer.id}}" method="get">
                            <input type="submit" value="RESET PASS" />
                        </form>
                    </td>
                    <td>
                        <form th:action="@{'/api/customers/imageupload/' + ${currentcustomer.id}}" method="post" enctype="multipart/form-data">
                            <input type="file" th:id="'file-' + ${currentcustomer.id}" th:name="file" th:onchange="fileChange([[${currentcustomer.id}]])"/>
                            <button type="submit" th:id="${currentcustomer.id}" disabled>UPLOAD</button>
                        </form>
                        <script>
                            function fileChange(id) {
                                const buttonToEnable = document.getElementById(id);
                                const fileselected = document.getElementById('file-'+id);
                                if (fileselected.files.length > 0)
                                    buttonToEnable.disabled = false;
                                else
                                    buttonToEnable.disabled = true;
                            }
                        </script>
                    </td>
                </tr>
            </tbody>
        </table>
        <form action="#" th:action="@{/api/customers}" method="post">
            <h4>Enter your new Customer</h4>
            <label>Cedula:</label>
            <input th:name="cedula"/>
            <label>Nombre:</label>
            <input th:name="nombre"/>
            <label>Imagen:</label>
            <input th:name="imageUrl"/>
            <label>Email:</label>
            <input th:name="email"/>
            <label>Password:</label>
            <input th:name="password"/>
            <input type="checkbox" th:name="admin"/>
            <label>Administrator</label>

            <input type="submit" value="SUBMIT" /> <input type="reset" value="RESET" />
        </form>
    </div>
</body>

</html> 
