<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
        <title>My Spring Boot Page</title>
        <style>
            body {
                background-color: rgb(208, 209, 212);
            }
        </style>
</head>
<body>
    <div>
        <form action="#" th:action="@{'/api/products?search=' + ${search}}" method="get">
            <input id=search type="text" th:name="search"/>
            <input id=submitbutton type="submit" value="SEARCH" />
            <input type="button" value="CLEAR" onclick="clearOut()" />
            <script>
                function clearOut() {
                    search.value = "";
                    submitbutton.click();
                }
            </script>
        </form>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Image</th>
                </tr>

            </thead>
            <tbody>
                <tr th:each="currentproduct: ${products}">
                    <form action="#" th:action="@{'/api/products/' + ${currentproduct.productId}}" method="post">
                        <td th:text="${currentproduct.productId}"></td>
                        <td>
                            <input th:name="productDescription" th:value="${currentproduct.productDescription}"/>
                        </td>
                        <td>
                            <a th:href="@{'/api/products/' + ${currentproduct.productId}}">
                                <img th:src="${currentproduct.productImage}" width="150" height="150" />
                            </a>
                        </td>
                        <td>
                            <input th:name="productImage" th:value="${currentproduct.productImage}"/>
                        </td>
                        <td>
                            <input type="submit" value="UPDATE" />
                        <td>
                    </form>
                    <td>
                        <form action="#" th:action="@{'/api/products/' + ${currentproduct.productId}}" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <input type="submit" value="DELETE" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--<form action="#" th:action="@{/api/products}" th:object="${product}" method="post">
            <h4>Enter your new Product</h4>
            <label for="productId">Product Id:</label>
            <input type="text" th:field="*{productId}"/>
            <label for="productDescription">Product Description:</label>
            <input type="text" th:field="*{productDescription}"/>
            <label for="productImage">Product Image:</label>
            <input type="text" th:field="*{productImage}"/>

            <input type="submit" value="SUBMIT" /> <input type="reset" value="RESET" />
        </form>-->

        <form action="#" th:action="@{/api/products}" method="post">
            <h4>Enter your new Product</h4>
            <label>Product Id:</label>
            <input th:name="productId"/>
            <label>Product Description:</label>
            <input th:name="productDescription"/>
            <label>Product Image:</label>
            <input th:name="productImage"/>

            <input type="submit" value="SUBMIT" /> <input type="reset" value="RESET" />
        </form>

    </div>
</body>

</html> 
